@charset "UTF-8";
/* Local Fonts "Jaapokki" Porque me encanta y no esta en Google Fonts */
@font-face {
  font-family: 'Jaapokki Regular';
  src: url("../assets/fonts/Jaapokki/Regular/jaapokki-regular.eot");
  /* IE9 Compat Modes */
  src: url("../assets/fonts/Jaapokki/Regular/jaapokki-regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Jaapokki/Regular/Jaapokki-Regular.otf") format("otf"), url("../assets/fonts/Jaapokki/Regular/jaapokki-regular.woff") format("woff"), url("../assets/fonts/Jaapokki/Regular/jaapokki-regular.ttf") format("truetype"), url("../assets/fonts/Jaapokki/Regular/jaapokki-regular.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'Jaapokki Enchance';
  src: url("../assets/fonts/Jaapokki/Enchance/jaapokkienchance-regular.eot");
  /* IE9 Compat Modes */
  src: url("../assets/fonts/Jaapokki/Enchance/jaapokkienchance-regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Jaapokki/Enchance/Jaapokkienchance-Regular.otf") format("otf"), url("../assets/fonts/Jaapokki/Enchance/jaapokkienchance-regular.woff") format("woff"), url("../assets/fonts/Jaapokki/Enchance/jaapokkienchance-regular.ttf") format("truetype"), url("../assets/fonts/Jaapokki/Enchance/jaapokkienchance-regular.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'Jaapokki Subtract';
  src: url("../assets/fonts/Jaapokki/Subtract/jaapokkisubtract-regular.eot");
  /* IE9 Compat Modes */
  src: url("../assets/fonts/Jaapokki/Subtract/jaapokkisubtract-regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Jaapokki/Subtract/Jaapokkisubtract-Regular.otf") format("otf"), url("../assets/fonts/Jaapokki/Subtract/jaapokkisubtract-regular.woff") format("woff"), url("../assets/fonts/Jaapokki/Subtract/jaapokkisubtract-regular.ttf") format("truetype"), url("../assets/fonts/Jaapokki/Subtract/jaapokkisubtract-regular.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

/*@extend para Buttons*/
.hover, .btn--hover:hover {
  box-shadow: inset 5px 5px 10px #99a1ad, inset -5px -5px 10px #cfd9e9; }

button.btn-black, .btn--hover {
  font-family: 'Jaapokki Regular';
  background-color: #B4BDCB;
  color: #323333;
  padding: 0.3125rem 1.5625rem;
  border-radius: 0.3125rem;
  cursor: pointer;
  box-shadow: 5px 5px 0px #a0a8b5, -5px -5px 0px #c8d2e1;
  border: none; }

/************************************************** Header - Menu - Navbar **************************************************/
.navbar-nav .nav-link, .dropdown-menu .dropdown-item {
  font-family: 'Jaapokki Regular' !important; }

ul.navigation-list {
  padding-left: 0 !important; }

.navbar-light .navbar-nav .nav-link {
  font-weight: normal; }
  .navbar-light .navbar-nav .nav-link.active {
    font-weight: bold; }

.navbar-light .navbar-brand {
  display: flex; }

.navbar-light .navbar-toggler {
  border-color: transparent; }

a li {
  font-size: 0.75rem;
  font-family: 'Jaapokki Regular';
  color: #323333;
  text-transform: uppercase; }
  a li:hover {
    font-family: 'Jaapokki Regular';
    color: #6A6A6A; }

nav img.logo {
  width: 1.875rem;
  height: 1.875rem;
  margin-right: 3.125rem; }

/*Bootstrap Mobile Menu*/
.navbar {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem; }

.navbar-light .navbar-toggler-icon {
  background-image: url(../assets/img/hamburguer.png) !important; }

.navbar-toggler:focus, .navbar-toggler:active {
  outline: none;
  box-shadow: none; }

.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none; }

.dropdown-menu {
  background-color: #f8f9fa;
  border: none; }

a.dropdown-item {
  padding: 0.25rem 1rem; }

.dropdown-item:focus, .dropdown-item:hover {
  color: #323333;
  background-color: #e9ecef; }

.dropdown-item.active, .dropdown-item:active {
  color: #323333;
  text-decoration: none;
  background-color: #e9ecef; }

/* Dropdown Sub-Menu Arrow Alineación Vertical */
a#navbarDropdownMenuLink.nav-link.dropdown-toggle::after {
  vertical-align: 0.15em !important; }

/* Navbar Padding Right & Left */
.navbar > .container-fluid, .navbar > .container-lg, .navbar > .container-md, .navbar > .container-sm, .navbar > .container-xl, .navbar > .container-xxl {
  padding: 0 4.688rem; }

@media (max-width: 1024px) {
  /* Boostrap Mobile Menu */
  a.dropdown-item {
    padding: 0.25rem 0; } }

@media (max-width: 1200px) {
  /* Navbar Padding Right & Left */
  .navbar > .container-fluid, .navbar > .container-lg, .navbar > .container-md, .navbar > .container-sm, .navbar > .container-xl, .navbar > .container-xxl {
    padding: 0 1.563rem; } }

/************************************************** Footer  **************************************************/
footer {
  background-color: #F2F2F2;
  padding: 4.688rem; }

.footer-container {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  padding-bottom: 1.563rem; }

p.footer-text {
  font-family: 'Jaapokki Regular';
  font-size: 0.875rem;
  font-weight: 500;
  color: #323333;
  display: flex;
  justify-content: center;
  padding-right: 6.25rem;
  padding-top: 0.625rem;
  text-transform: none; }

footer h3 {
  font-family: 'Jaapokki Regular';
  font-size: 1.125rem;
  font-weight: 700;
  color: #323333; }
  footer h3.rrss {
    padding-top: 1.25rem; }

footer h5 {
  font-family: 'Jaapokki Enchance';
  font-size: 1.125rem;
  font-weight: bold;
  color: #323333;
  text-transform: uppercase;
  padding: 1.563rem 0 0 0;
  border-top: solid 1px #323333; }

footer p {
  font-family: 'Jaapokki Regular';
  font-size: 0.75rem;
  font-weight: bold;
  color: #323333;
  text-transform: uppercase;
  justify-content: flex-start; }

footer a {
  text-decoration: none;
  color: #323333; }

footer img.logo {
  width: 1.875rem;
  height: 1.875rem; }

div.footer-nav ul a {
  font-weight: 400; }

/************************************** Max-width: 767px Mobile Media Querie ***************************************/
@media (max-width: 767px) {
  footer {
    background-color: #f2f2f2;
    padding: 4.688rem 1.563rem; }
  .footer-container {
    display: grid;
    grid-template-columns: 1fr; }
  .footer-col2, .footer-col3 {
    padding-top: 1.25rem; } }

@media (max-width: 1024px) {
  /* Footer */
  .footer-container {
    display: grid;
    grid-template-columns: 1fr; }
  img {
    width: 100%; }
  .footer-col2, .footer-col3 {
    padding-top: 1.25rem; } }

@media (max-width: 1200px) {
  /* Footer */
  footer {
    padding: 4.688rem 1.563rem; }
    footer h3 {
      font-size: 0.875rem; }
  p.footer-text, div.footer-nav {
    padding-bottom: 1.25rem; } }

/************************************************** Pagina Home **************************************************/
/* Secciones Edificios Home */
section.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: #F2F2F2;
  padding: 0 4.6875rem;
  text-align: center; }

p.home-intro {
  padding: 0 12.5rem; }

.section-1 {
  height: 100%;
  background-color: #B4BDCB;
  padding: 4.6875rem; }

.section-2 {
  height: 100%;
  background-color: #f2f2f2;
  padding: 4.6875rem; }

.section-3 {
  height: 100%;
  background-color: #B4BDCB;
  padding: 4.6875rem; }

.section-4 {
  height: 100%;
  background-color: #f2f2f2;
  padding: 4.6875rem; }

.section-5 {
  height: 100%;
  background-color: #B4BDCB;
  padding: 4.6875rem; }

h2.building-title {
  padding-bottom: 4.6875rem; }

/* Display Grid - 2 Columnas Secciones */
section img.section-img {
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); }

section div.column-2 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column; }

p.section-text {
  padding-bottom: 1.875rem; }

img.anchor-arrow {
  padding-top: 1.875rem;
  width: 40px;
  animation-name: floating;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; }

/************************************** Max-width: 767px Mobile Media Querie ***************************************/
@media (max-width: 767px) {
  div.grid-container {
    display: grid;
    grid-template-columns: 1fr; }
  .section-1, .section-2, .section-3, .section-4, .section-5 {
    padding: 4.6875rem 1.5625rem; }
  h2.building-title, p.section-text {
    padding-bottom: 1.875rem; }
  img.anchor-arrow {
    padding-top: 1.875rem;
    width: 1.875rem; } }

@media (max-width: 1024px) {
  /* Secciones Edificios Home */
  /* Grid - 1 Column Secciones Edificios Home Tablet */
  div.grid-container {
    display: grid;
    grid-template-columns: 1fr; }
  p.section-text {
    padding-top: 1.875rem; }
  section div.col-1 {
    margin-right: 0; } }

/************************************************** Pagina 2 - Detalles de Edificios - Estilos Globales  **************************************************/
section.section-presentation {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 4.6875rem; }

section.section-table h2, section.section-slider, section.section-location {
  padding-top: 4.6875rem; }

iframe.location-map {
  width: 100%;
  padding: 0; }

/* Bootstrap Carrousel Custom Next & Prev Arrows */
.carousel-control-next-icon {
  background-image: url(../assets/img/slider-arrow-rigth.png); }

span.carousel-control-next-icon {
  filter: none !important; }

.carousel-control-prev-icon {
  background-image: url(../assets/img/slider-arrow-left.png); }

span.carousel-control-prev-icon {
  filter: none !important; }

/********** Comparative Tables **********/
main.table-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3.125rem 4.6875rem; }

/*SCSS MAP FOR TABLES*/
table {
  width: 100vw;
  height: 50vh;
  background-color: #f8f9fa;
  color: #323333;
  border: 1px solid #a2a9b1;
  font-family: "Jaapokki Regular"; }

th {
  border: 1px solid #a2a9b1;
  text-align: center; }

td {
  text-align: center;
  border: 1px solid #a2a9b1; }

tr {
  background-color: #f8f9fa;
  border: 1px solid #a2a9b1; }
  tr.tr-heading {
    background-color: #eaecf0;
    text-align: center; }
  tr.tr-current {
    background-color: #B4BDCB; }

td img.flag {
  padding-right: 0.625rem;
  max-width: 1.25rem;
  max-height: 0.625rem; }

/********** Pagina Detalle Edificio Burj Khalifa Building **********/
.section-background-burj {
  background-image: url("../assets/img/Burj-Khalifa-banner.webp");
  height: 65vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

/********** Pagina Detalle Edificio Abraj al Bait Building **********/
.section-background-abraj {
  background-image: url("../assets/img/abraj-al-bait-banner.webp");
  height: 65vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

/********** Pagina Detalle Edificio Merdeka 118 Building **********/
.section-background-merdeka {
  background-image: url("../assets/img/meerdeka-118-banner.webp");
  height: 65vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

/********** Pagina Detalle Edificio Ping An Finance Center **********/
.section-background-fc {
  background-image: url("../assets/img/ping-an-finance-center-banner.webp");
  height: 65vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover; }

/********** Pagina Detalle Edificio Shangai Tower **********/
.section-background-shangai {
  background-image: url("../assets/img/shanghai-tower-banner.webp");
  height: 65vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

@media (max-width: 1200px) {
  /* Pages Detalles Edificios */
  section.section-presentation {
    height: 100%;
    padding: 4.6875rem 1.5625rem; }
  section.intro {
    height: 75vh;
    padding: 0 1.5625rem; }
  main.table-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3.125rem 1.5625rem; }
  .section-background-burj, .section-background-abraj, .section-background-merdeka, .section-background-fc, .section-background-shangai {
    height: 40vh; } }

/************************************************** Pagina 3 - Architects **************************************************/
h2.architect-name {
  font-family: 'Jaapokki Enchance';
  font-size: 1.5rem;
  font-weight: Bold;
  background-color: #FFFFFF;
  border-radius: 0 0 0.625rem 0.625rem;
  margin-top: -0.313rem;
  padding-top: 0.625rem; }

img.architects-img {
  width: 100%;
  border-radius: 0.625rem 0.625rem 0 0; }

div.accordion {
  border-radius: 0.625rem 0.625rem 0 0; }

div.accordion-body {
  font-family: 'Jaapokki Regular'; }

button.accordion-button {
  font-size: 1.75rem;
  font-family: 'Jaapokki Enchance';
  font-weight: Bold;
  word-spacing: 1.25rem;
  color: #323333; }

p.buildings {
  text-align: center; }

section.architect-1 {
  background-color: #B4BDCB;
  padding: 75px 75px 125px 75px; }

section.architect-2 {
  background-color: #f2f2f2;
  padding: 75px 75px 125px 75px; }

section.architect-3 {
  background-color: #B4BDCB;
  padding: 75px 75px 125px 75px; }

section.architect-4 {
  background-color: #f2f2f2;
  padding: 75px 75px 125px 75px; }

section.architect-5 {
  background-color: #B4BDCB;
  padding: 75px 75px 125px 75px; }

section.multimedia h1 {
  padding: 50px 75px;
  text-align: center;
  background-color: #F2F2F2; }

/* Bootstrap Accordion Arrows Custom Icons */
.accordion-button:not(.collapsed)::after {
  background-image: url(../assets/img/back-to-top-down.png);
  transform: rotate(-180deg); }

.accordion-button::after {
  background-image: url(../assets/img/back-to-top-down.png); }

/************************************** Max-width: 767px Mobile Media Querie ***************************************/
@media (max-width: 767px) {
  section.architect-1 {
    background-color: #B4BDCB;
    padding: 75px 25px; }
  section.architect-2 {
    background-color: #f2f2f2;
    padding: 75px 25px; }
  section.architect-3 {
    background-color: #B4BDCB;
    padding: 75px 25px; }
  section.architect-4 {
    background-color: #f2f2f2;
    padding: 75px 25px; }
  section.architect-5 {
    background-color: #B4BDCB;
    padding: 75px 25px; }
  h2.architect-name {
    font-size: 0.875rem; }
  button.accordion-button {
    font-size: 1.125rem; }
  div.accordion-body {
    font-size: 0.75rem; } }

@media (max-width: 1024px) {
  section div.col-2-architects {
    padding-top: 4.6875rem;
    margin-left: 0px; } }

@media (max-width: 1200px) {
  /* Page Architects */
  p.architects-text {
    padding-bottom: 2.5rem; } }

/************************************************** Pagina 4 - Multimedia **************************************************/
.grid-multimedia {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: #f2f2f2;
  padding-bottom: 4.6875rem; }

img.filter-img {
  filter: grayscale(80%); }
  img.filter-img:hover {
    transition: 0.4s;
    filter: grayscale(0%); }

@media (max-width: 768px) {
  .grid-multimedia {
    grid-template-columns: 1fr 1fr; } }

@media (min-width: 768px) and (max-width: 1024px) {
  .grid-multimedia {
    grid-template-columns: 1fr 1fr 1fr; } }

/************************************************** Pagina 5 - Contacto **************************************************/
form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3.125rem 1.25rem;
  border: none;
  margin: 0 auto;
  width: 40%; }

input.name {
  width: 100%;
  border: solid;
  border-width: 0 0 2px 0;
  padding: 0.625rem 0.3125rem; }

input.phone, input.email {
  width: 100%;
  margin-top: 1.25rem;
  border: solid;
  border-width: 0 0 0.125rem 0;
  padding: 0.625rem 0.3125rem; }

select.form-select {
  width: 100%;
  margin-top: 1.25rem;
  border: solid;
  border-width: 0 0 0.125rem 0;
  padding: 0.625rem 0; }

textarea.message {
  width: 100%;
  margin-top: 1.25rem;
  border: solid;
  border-width: 0 0 0.125rem 0;
  padding: 0.625rem 0.3125rem;
  margin-bottom: 0.9375rem; }

fieldset {
  border: none; }

h1.contact-title {
  padding-top: 3.125rem;
  text-align: center; }

@media (max-width: 1200px) {
  /* Page Contacto */
  form {
    width: 60%; } }

/*  Agregado de comportamiento Scroll Suave  */
html {
  font-size: 16px;
  scroll-behavior: smooth;
  scroll-padding-top: 1.25rem; }

/************************************************** Reset Estilos Globales **************************************************/
* {
  margin: 0;
  padding: 0; }

/************************************************ Animations & Transformations ************************************************/
/* Animación h1 left to rigth + Fade in Opacity */
@keyframes left-in {
  0% {
    top: -10%;
    opacity: 0; }
  100% {
    top: 0;
    opacity: 1; } }

/* Animación flotante Flechas */
@keyframes floating {
  0% {
    transform: translate(0, 0px); }
  50% {
    transform: translate(0, 10px); }
  100% {
    transform: translate(0, 0px); } }

/************************************************** Estilos Globales **************************************************/
h1 {
  font-family: 'Jaapokki Subtract';
  font-weight: bold;
  font-size: 3rem;
  color: #323333;
  text-transform: uppercase;
  position: relative;
  animation-name: left-in;
  animation-duration: 1s;
  margin: 0;
  padding-bottom: 1.25rem; }

h2 {
  font-family: 'Jaapokki Regular';
  font-weight: bold;
  font-size: 2rem;
  color: #323333;
  text-transform: uppercase;
  text-align: center; }

p {
  font-family: 'Jaapokki Regular';
  font-weight: 500;
  font-size: 0.875rem;
  color: #323333; }

a {
  font-weight: Bold;
  color: #323333; }
  a:hover {
    color: #6A6A6A; }

ul {
  list-style-type: none; }

img {
  max-width: 100%; }
  img.slider-imgs {
    width: 75%;
    margin: auto; }

/************************************************** MEDIA QUERIES  **************************************************/
/*** Max-width: 767px Mobile Media Querie ***/
/* Estilos Globales */
@media (max-width: 767px) {
  img {
    width: 100%; } }

/*** Max-width: 1200px Ipad Pro Media Querie ***/
@media (max-width: 1200px) {
  /* Estilos Globales */
  h1 {
    font-size: 2.4rem; }
  h2 {
    font-size: 1.2rem; }
  p.home-intro {
    padding: 0; }
  img.anchor-arrow {
    padding-top: 1.875rem;
    width: 2.5rem; } }
