/*@extend para Buttons*/
.hover {
  box-shadow: inset 5px 5px 10px #99a1ad,
  inset -5px -5px 10px #cfd9e9;  
}

button.btn-black {
  font-family: 'Jaapokki Regular';
  background-color: #B4BDCB;
  color: $main-black;
  padding: 0.3125rem 1.5625rem;
  border-radius: 0.3125rem;
  cursor: pointer;
  box-shadow: 5px 5px 0px #a0a8b5, -5px -5px 0px #c8d2e1;
  border: none;
}

.btn--hover {
  @extend button.btn-black;
  &:hover {
    @extend .hover
  }
}
