/* Local Fonts "Jaapokki" Porque me encanta y no esta en Google Fonts */
@font-face {
    font-family: 'Jaapokki Regular';
    src: url('../assets/fonts/Jaapokki/Regular/jaapokki-regular.eot'); /* IE9 Compat Modes */
    src: url('../assets/fonts/Jaapokki/Regular/jaapokki-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../assets/fonts/Jaapokki/Regular/Jaapokki-Regular.otf') format('otf'), /* Legacy iOS */
         url('../assets/fonts/Jaapokki/Regular/jaapokki-regular.woff') format('woff'), /* Pretty Modern Browsers */
         url('../assets/fonts/Jaapokki/Regular/jaapokki-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../assets/fonts/Jaapokki/Regular/jaapokki-regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}
  
@font-face {
    font-family: 'Jaapokki Enchance';
    src: url('../assets/fonts/Jaapokki/Enchance/jaapokkienchance-regular.eot'); /* IE9 Compat Modes */
    src: url('../assets/fonts/Jaapokki/Enchance/jaapokkienchance-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../assets/fonts/Jaapokki/Enchance/Jaapokkienchance-Regular.otf') format('otf'), /* Legacy iOS */
         url('../assets/fonts/Jaapokki/Enchance/jaapokkienchance-regular.woff') format('woff'), /* Pretty Modern Browsers */
         url('../assets/fonts/Jaapokki/Enchance/jaapokkienchance-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../assets/fonts/Jaapokki/Enchance/jaapokkienchance-regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}
  
@font-face {
     font-family: 'Jaapokki Subtract';
     src: url('../assets/fonts/Jaapokki/Subtract/jaapokkisubtract-regular.eot'); /* IE9 Compat Modes */
     src: url('../assets/fonts/Jaapokki/Subtract/jaapokkisubtract-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('../assets/fonts/Jaapokki/Subtract/Jaapokkisubtract-Regular.otf') format('otf'), /* Legacy iOS */
          url('../assets/fonts/Jaapokki/Subtract/jaapokkisubtract-regular.woff') format('woff'), /* Pretty Modern Browsers */
          url('../assets/fonts/Jaapokki/Subtract/jaapokkisubtract-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
          url('../assets/fonts/Jaapokki/Subtract/jaapokkisubtract-regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}
  