/************************************************** Header - Menu - Navbar **************************************************/
.navbar-nav .nav-link, .dropdown-menu .dropdown-item {
  font-family: 'Jaapokki Regular' !important;
}

ul.navigation-list {
  padding-left: 0 !important;
}

.navbar-light {
  .navbar-nav .nav-link {
    font-weight: normal;

    &.active {
      font-weight: bold;
    }
  }

  .navbar-brand {
    display: flex;
  }

  .navbar-toggler {
    border-color: transparent;
  }
}

a li {
  font-size: 0.75rem;
  font-family: 'Jaapokki Regular';
  color: $main-black;
  text-transform: uppercase;

  &:hover {
    font-family: 'Jaapokki Regular';
    color: $main-grey;
  }
}

nav img.logo {
  width: 1.875rem;
  height: 1.875rem;
  margin-right: 3.125rem;
}

/*Bootstrap Mobile Menu*/

.navbar {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

.navbar-light .navbar-toggler-icon {
  background-image: url(../assets/img/hamburguer.png) !important;
}

.navbar-toggler {
  &:focus, &:active {
    outline: none;
    box-shadow: none;
  }
}

.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

.dropdown-menu {
  background-color: #f8f9fa;
  border: none;
}

a.dropdown-item {
  padding: 0.25rem 1rem;
}

.dropdown-item {
  &:focus, &:hover {
    color: $main-black;
    background-color: #e9ecef;
  }

  &.active, &:active {
    color: #323333;
    text-decoration: none;
    background-color: #e9ecef;
  }
}

/* Dropdown Sub-Menu Arrow Alineación Vertical */
a#navbarDropdownMenuLink.nav-link.dropdown-toggle::after {
  vertical-align: 0.15em !important;
  }
  
/* Navbar Padding Right & Left */
.navbar > {
  .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    padding: 0 4.688rem;
  }
}


@media (max-width: 1024px) {
  /* Boostrap Mobile Menu */
  a.dropdown-item {
    padding: 0.25rem 0;
  }
  
}

@media (max-width: 1200px) {
/* Navbar Padding Right & Left */
  .navbar > {
    .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
      padding: 0 1.563rem;
    }
  }
  
}

