/************************************************** Header - Menu - Navbar **************************************************/
.navbar-nav .nav-link, .dropdown-menu .dropdown-item {
  font-family: 'Jaapokki Regular' !important;
}

ul.navigation-list {
  padding-left: 0 !important;
}

.navbar-light {
  .navbar-nav .nav-link {
    font-weight: normal;

    &.active {
      font-weight: bold;
    }
  }

  .navbar-brand {
    display: flex;
  }

  .navbar-toggler {
    border-color: transparent;
  }
}

a li {
  font-size: 12px;
  font-family: 'Jaapokki Regular';
  color: $main-black;
  text-transform: uppercase;

  &:hover {
    font-family: 'Jaapokki Regular';
    color: $main-grey;
  }
}

nav img.logo {
  width: 30px;
  height: 30px;
  margin-right: 50px;
}

/*Bootstrap Mobile Menu*/

.navbar {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

.navbar-light .navbar-toggler-icon {
  background-image: url(../assets/img/hamburguer.png) !important;
}

.navbar-toggler {
  &:focus, &:active {
    outline: none;
    box-shadow: none;
  }
}

.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

.dropdown-menu {
  background-color: #f8f9fa;
  border: none;
}

a.dropdown-item {
  padding: 0.25rem 1rem;
}

.dropdown-item {
  &:focus, &:hover {
    color: $main-black;
    background-color: #e9ecef;
  }

  &.active, &:active {
    color: #323333;
    text-decoration: none;
    background-color: #e9ecef;
  }
}
