@mixin flex-center-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin  flex-start-column {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}