  /************************************************** Pagina 4 - Multimedia **************************************************/
  .grid-multimedia {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: $section-light-grey;
    padding-bottom: 75px;
  }


  img.filter-img {
    filter: grayscale(80%);
  &:hover {
    transition: 0.4s;
    filter: grayscale(0%);
  }
}

@media (max-width: 768px) {
  .grid-multimedia {
    grid-template-columns: 1fr 1fr;
  }
}


@media (min-width: 768px) and (max-width: 1024px) {
  .grid-multimedia {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .grid-multimedia {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

