@import "maps";
@import "mixins";

/************************************************** Pagina 2 - Detalles de Edificios - Estilos Globales  **************************************************/
section {
  &.section-presentation {
    height: 60vh;
    @include flex-center-column;
    padding: 0 4.6875rem;
  }

  &.section-table h2, &.section-slider, &.section-location {
    padding-top: 4.6875rem;
  }
}

iframe.location-map {
  width: 100%;
  padding: 0;
}

/* Bootstrap Carrousel Custom Next & Prev Arrows */
.carousel-control-next-icon {
  background-image: url(../assets/img/slider-arrow-rigth.png);
}

span.carousel-control-next-icon {
  filter: none !important;
}

.carousel-control-prev-icon {
  background-image: url(../assets/img/slider-arrow-left.png);
}

span.carousel-control-prev-icon {
  filter: none !important;
}

/********** Comparative Tables **********/
main.table-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3.125rem 4.6875rem;
}

/*SCSS MAP FOR TABLES*/
table {
  width: map-get($table-styles, ancho);
  height: map-get($table-styles, alto);
  background-color: map-get($table-styles, bg-color);
  color: map-get($table-styles, font-color);
  border: map-get($table-styles, border-style);
  font-family: map-get($table-styles, font);
  font-size: map-get($table-styles, font-size);
}

th {
  border: 1px solid #a2a9b1;
  text-align: $text-center;
}

td {
  text-align: $text-center;
  border: 1px solid #a2a9b1;
}

tr {
  background-color: #f8f9fa;
  border: 1px solid #a2a9b1;

  &.tr-heading {
    background-color: #eaecf0;
    text-align: $text-center;
  }

  &.tr-current {
    background-color: #B4BDCB;
  }
}

td img.flag {
  padding-right: 0.625rem;
  max-width: 1.25rem;
  max-height: 0.625rem;
}

/********** Pagina Detalle Edificio Burj Khalifa Building **********/
.section-background-burj {
  background-image: url("../assets/img/Burj-Khalifa-banner.webp");
  height: 65vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/********** Pagina Detalle Edificio Abraj al Bait Building **********/
.section-background-abraj {
  background-image: url("../assets/img/abraj-al-bait-banner.webp");
  height: 65vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/********** Pagina Detalle Edificio Merdeka 118 Building **********/
.section-background-merdeka {
  background-image: url("../assets/img/meerdeka-118-banner.webp");
  height: 65vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/********** Pagina Detalle Edificio Ping An Finance Center **********/
.section-background-fc {
  background-image: url("../assets/img/ping-an-finance-center-banner.webp");
  height: 65vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

/********** Pagina Detalle Edificio Shangai Tower **********/
.section-background-shangai {
  background-image: url("../assets/img/shanghai-tower-banner.webp");
  height: 65vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 1200px) {
/* Pages Detalles Edificios */
  section {
    &.section-presentation {
      height: 100%;
      padding: 4.6875rem 1.5625rem;
    }

    &.intro {
      height: 75vh;
      padding: 0 1.5625rem;
    }
  }

  main.table-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3.125rem 1.5625rem;
  }

  .section-background-burj, .section-background-abraj, .section-background-merdeka, .section-background-fc, .section-background-shangai {
    height: 40vh;
  }
  
}
