 @import "mixins";
 
 /************************************************** Pagina Home **************************************************/
  
  /* Secciones Edificios Home */
  
  section.intro {
    @include flex-center-column;
    height: 100vh;
    background-color: #F2F2F2;
    padding: 0 4.6875rem;
    text-align: $text-center;
  }
  
  p.home-intro {
    padding: 0 12.5rem;
  }
  
  .section-1 {
    height: 100%;
    background-color: $section-dark-grey;
    padding: 4.6875rem;
  }
  
  .section-2 {
    height: 100%;
    background-color: $section-light-grey;
    padding: 4.6875rem;
  }
  
  .section-3 {
    height: 100%;
    background-color: $section-dark-grey;
    padding: 4.6875rem;
  }
  
  .section-4 {
    height: 100%;
    background-color: $section-light-grey;
    padding: 4.6875rem;
  }
  
  .section-5 {
    height: 100%;
    background-color: $section-dark-grey;
    padding: 4.6875rem;
  }
  
  h2.building-title {
    padding-bottom: 4.6875rem;
  }
  
  /* Display Grid - 2 Columnas Secciones */
  
  section {
    img.section-img {
      padding: 1rem;
      box-shadow: 0 4px 6px rgba(0,0,0,.3);
    }
  
    div.column-2 {
      @include flex-start-column;
    }
  }
  
  p.section-text {
    padding-bottom: 1.875rem;
  }
  
  img.anchor-arrow {
    padding-top: 1.875rem;
    width: 40px;
    animation-name: floating;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }

/************************************** Max-width: 767px Mobile Media Querie ***************************************/
@media (max-width: 767px) {
  div.grid-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .section-1, .section-2, .section-3, .section-4, .section-5 {
    padding: 4.6875rem 1.5625rem;
  }

  h2.building-title, p.section-text {
    padding-bottom: 1.875rem;
  }

  img.anchor-arrow {
    padding-top: 1.875rem;
    width: 1.875rem;
  }

  }

  @media (max-width: 1024px) {
  /* Secciones Edificios Home */


  /* Grid - 1 Column Secciones Edificios Home Tablet */
  div.grid-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  p.section-text {
    padding-top: 1.875rem;
  }

  section div.col-1 {
    margin-right: 0;
  }

  }
