  /************************************************** Pagina 4 - Multimedia **************************************************/
  .grid-multimedia {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: #F2F2F2;
    padding-bottom: 75px;
  }

  img.filter-img {
    filter: grayscale(80%);
  &:hover {
    transition: 0.4s;
    filter: grayscale(0%);
  }
}