  @import "font-face";
  @import "media-queries";
  @import "header";
  @import "page-home";
  @import "page-detalles-edificios";
  @import "page-architects";
  @import "page-multimedia";
  @import "page-contact";
  @import "footer";

  
  /*  Agregado de comportamiento Scroll Suave  */
  
  html {
    scroll-behavior: smooth;
  }
  
  /************************************************** Reset Estilos Globales **************************************************/
  
  * {
    margin: 0;
    padding: 0;
  }
  
  /************************************************ Animations & Transformations ************************************************/
  
  /* Animación h1 left to rigth + Fade in Opacity */
  @keyframes left-in {
    0% {
      top: -10%;
      opacity: 0;
    }
  
    100% {
      top: 0;
      opacity: 1;
    }
  }
  
  /* Animación flotante Flechas */
  @keyframes floating {
    0% {
      transform: translate(0, 0px);
    }
  
    50% {
      transform: translate(0, 10px);
    }
  
    100% {
      transform: translate(0, 0px);
    }
  }
  
  /* Bootstrap Accordion Arrows Custom Icons */
  
  .accordion-button {
    &:not(.collapsed)::after {
      background-image: url(../assets/img/back-to-top-down.png);
      transform: rotate(-180deg);
    }
  
    &::after {
      background-image: url(../assets/img/back-to-top-down.png);
    }
  }
  
  /************************************************** Estilos Globales **************************************************/
  
  h1 {
    font-family: 'Jaapokki Subtract';
    font-weight: bold;
    font-size: 3rem;
    color: #323333;
    text-transform: uppercase;
    position: relative;
    animation-name: left-in;
    animation-duration: 1s;
  }
  
  h2 {
    font-family: 'Jaapokki Regular';
    font-weight: bold;
    font-size: 2rem;
    color: #323333;
    text-transform: uppercase;
    text-align: center;
  }
  
  p {
    font-family: 'Jaapokki Regular';
    font-weight: 500;
    font-size: 14px;
    color: #323333;
  }
  
  a {
    font: $link-font;
  }
  
  button.btn-black {
    font-family: 'Jaapokki Regular';
    background-color: #323333;
    color: #F2F2F2;
    padding: 5px 25px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  ul {
    list-style-type: none;
  }
  
  img {
    max-width: 100%;
  
    &.slider-imgs {
      width: 75%;
      margin: auto;
    }
  }
    
  /* Dropdown Sub-Menu Arrow Alineación Vertical */
  
  a#navbarDropdownMenuLink.nav-link.dropdown-toggle::after {
    vertical-align: 0.15em !important;
  }
  
  /* Navbar Padding Right & Left */
  
  .navbar > {
    .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
      padding: 0 75px;
    }
  }