  @import "font-face";
  @import "header";
  @import "page-home";
  @import "page-detalles-edificios";
  @import "page-architects";
  @import "page-multimedia";
  @import "footer";

  
  /*  Agregado de comportamiento Scroll Suave  */
  
  html {
    scroll-behavior: smooth;
  }
  
  /************************************************** Reset Estilos Globales **************************************************/
  
  * {
    margin: 0;
    padding: 0;
  }
  
  /************************************************ Animations & Transformations ************************************************/
  
  /* Animación h1 left to rigth + Fade in Opacity */
  @keyframes left-in {
    0% {
      top: -10%;
      opacity: 0;
    }
  
    100% {
      top: 0;
      opacity: 1;
    }
  }
  
  /* Animación flotante Flechas */
  @keyframes floating {
    0% {
      transform: translate(0, 0px);
    }
  
    50% {
      transform: translate(0, 10px);
    }
  
    100% {
      transform: translate(0, 0px);
    }
  }
  
  /* Bootstrap Accordion Arrows Custom Icons */
  
  .accordion-button {
    &:not(.collapsed)::after {
      background-image: url(../assets/img/back-to-top-down.png);
      transform: rotate(-180deg);
    }
  
    &::after {
      background-image: url(../assets/img/back-to-top-down.png);
    }
  }
  
  /************************************************** Estilos Globales **************************************************/
  
  h1 {
    font-family: 'Jaapokki Subtract';
    font-weight: bold;
    font-size: 3rem;
    color: #323333;
    text-transform: uppercase;
    position: relative;
    animation-name: left-in;
    animation-duration: 1s;
  }
  
  h2 {
    font-family: 'Jaapokki Regular';
    font-weight: bold;
    font-size: 2rem;
    color: #323333;
    text-transform: uppercase;
    text-align: center;
  }
  
  p {
    font-family: 'Jaapokki Regular';
    font-weight: 500;
    font-size: 14px;
    color: #323333;
  }
  
  a {
    color: #323333;
    font-weight: bold;
  }
  
  button.btn-black {
    font-family: 'Jaapokki Regular';
    background-color: #323333;
    color: #F2F2F2;
    padding: 5px 25px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  ul {
    list-style-type: none;
  }
  
  img {
    max-width: 100%;
  
    &.slider-imgs {
      width: 75%;
      margin: auto;
    }
  }
    
  /* Dropdown Sub-Menu Arrow Alineación Vertical */
  
  a#navbarDropdownMenuLink.nav-link.dropdown-toggle::after {
    vertical-align: 0.15em !important;
  }
  
  /* Navbar Padding Right & Left */
  
  .navbar > {
    .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
      padding: 0 75px;
    }
  }
    
  
  
  
  /************************************************** Pagina 5 - Contacto **************************************************/
  
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    border: none;
    margin: 0 auto;
    width: 40%;
  }
  
  input {
    &.name {
      width: 100%;
      border: solid;
      border-width: 0 0 2px 0;
      padding: 10px 5px;
    }
  
    &.phone, &.email {
      width: 100%;
      margin-top: 20px;
      border: solid;
      border-width: 0 0 2px 0;
      padding: 10px 5px;
    }
  }
  
  select.form-select {
    width: 100%;
    margin-top: 20px;
    border: solid;
    border-width: 0 0 2px 0;
    padding: 10px 0;
  }
  
  textarea.message {
    width: 100%;
    margin-top: 20px;
    border: solid;
    border-width: 0 0 2px 0;
    padding: 10px 5px;
  }
  
  fieldset {
    border: none;
  }
  
  h1.contact-title {
    padding-top: 50px;
    text-align: center;
  }
  
  
  /************************************************** MEDIA QUERIES  **************************************************/
  
  /************************************************************************************************************************
  ************************************** Max-width: 767px Mobile Media Querie ***************************************
  ************************************************************************************************************************/
  
  @media (max-width: 767px) {
    /* Estilos Globales */
  
    img {
      width: 100%;
    }
  
    /* Pagina Home */
  
    /* Secciones Edificios Home */
  
    div.grid-container {
      display: grid;
      grid-template-columns: 1fr;
    }
  
    .section-1, .section-2, .section-3, .section-4, .section-5 {
      padding: 75px 25px;
    }
  
    h2.building-title, p.section-text {
      padding-bottom: 30px;
    }
  
    img.anchor-arrow {
      padding-top: 30px;
      width: 30px;
    }
  
    /* Page Architects */
  
    section {
      &.architect-1 {
        background-color: #B4BDCB;
        padding: 75px 25px;
      }
  
      &.architect-2 {
        background-color: #F2F2F2;
        padding: 75px 25px;
      }
  
      &.architect-3 {
        background-color: #B4BDCB;
        padding: 75px 25px;
      }
  
      &.architect-4 {
        background-color: #F2F2F2;
        padding: 75px 25px;
      }
  
      &.architect-5 {
        background-color: #B4BDCB;
        padding: 75px 25px;
      }
    }
  
    h2.architect-name {
      font-size: 14px;
    }
  
    button.accordion-button {
      font-size: 18px;
    }
  
    /* Page Multimedia */
  
    .grid-multimedia {
      display: grid;
      grid-template-columns: 1fr !important;
    }
  
    /* Page Contacto */
  
    /* Footer */
  
    footer {
      background-color: #F2F2F2;
      padding: 75px 25px;
    }
  
    .footer-container {
      display: grid;
      grid-template-columns: 1fr;
    }
  
    .footer-col2, .footer-col3 {
      padding-top: 20px;
    }
  }
  
  /************************************************************************************************************************
  ************************************** Max-width: 1024px Tablet-Ipad Media Querie ***************************************
  ************************************************************************************************************************/
  
  /* Pagina Home */
  
  @media (max-width: 1024px) {
    /* Secciones Edificios Home */
    /* Grid - 1 Column Secciones Edificios Home Tablet */
  
    div.grid-container {
      display: grid;
      grid-template-columns: 1fr;
    }
  
    p.section-text {
      padding-top: 30px;
    }
  
    section div.col-1 {
      margin-right: 0;
    }
  
    /* Boostrap Mobile Menu */
  
    a.dropdown-item {
      padding: 0.25rem 0;
    }
  
    /* Page Architects */
  
    section div {
      &.col-1-architects {}
  
      &.col-2-architects {
        padding-top: 75px;
        margin-left: 0px;
      }
    }
  
    /* Page Multimedia */
  
    .grid-multimedia {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  
    /* Footer */
  
    .footer-container {
      display: grid;
      grid-template-columns: 1fr;
    }
  
    img {
      width: 100%;
    }
  
    .footer-col2, .footer-col3 {
      padding-top: 20px;
    }
  }
  
  /************************************************************************************************************************
  ************************************** Max-width: 1200px Ipad Pro Media Querie ***************************************
  ************************************************************************************************************************/
  @media (max-width: 1200px) {
    /* Estilos Globales */
  
    h1 {
      font-family: 'Jaapokki Subtract';
      font-weight: bold;
      font-size: 1.5rem;
      color: #323333;
      text-transform: uppercase;
    }
  
    h2 {
      font-family: 'Jaapokki Regular';
      font-weight: bold;
      font-size: 1.2rem;
      color: #323333;
      text-transform: uppercase;
      text-align: center;
    }
  
    p.home-intro {
      padding: 0;
    }
  
    img.anchor-arrow {
      padding-top: 30px;
      width: 40px;
    }
  
    /* Navbar Padding Right & Left */
  
    .navbar > {
      .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        padding: 0 25px;
      }
    }
  
    /* Page Home */
  
    /* Pages Detalles Edificios */
  
    section {
      &.section-presentation {
        height: 100%;
        padding: 75px 25px;
      }
  
      &.intro {
        height: 75vh;
        padding: 0 25px;
      }
    }
  
    main.table-container {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 50px 25px;
    }
  
    /********** Pagina Detalle Edificio Burj Khalifa Building **********/
  
    .section-background-burj, .section-background-abraj, .section-background-merdeka, .section-background-fc, .section-background-shangai {
      height: 40vh;
    }
  
    /********** Pagina Detalle Edificio Abraj al Bait Building **********/
  
    /********** Pagina Detalle Edificio Merdeka 118 Building **********/
  
    /********** Pagina Detalle Edificio Ping An Finance Center **********/
  
    /********** Pagina Detalle Edificio Shangai Tower **********/
  
    /* Page Multimedia */
  
    .grid-multimedia {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  
    /* Page Architects */
  
    p.architects-text {
      padding-bottom: 40px;
    }
  
    /* Page Contacto */
  
    form {
      width: 60%;
    }
  
    /* Footer */
  
    footer {
      padding: 75px 25px;
  
      h3 {
        font-family: 'Jaapokki Regular';
        font-size: 14px;
        font-weight: bold;
        color: #323333;
      }
    }
  
    p.footer-text, div.footer-nav {
      padding-bottom: 20px;
    }
  }